body {
    font-family: Arial,;
    background-image: url(Images/strange-background);
    background-size: contain;
    background-size: cover;
}

.name {
    color: whitesmoke;
    width: 800px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 25px;
}

.contact a {
    color: rgb(253, 0, 0);
}

.contact {
    color: whitesmoke;
    font-size: 15px;
    padding: -100px;
    line-height: 2px;
    width: 800px;
    margin-top: -65px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    
}
.bio {
    font-size: 15px;
    color: white;
    width: 800px;
    margin-top: -65px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    border: 1px solid whitesmoke;
    padding-left: 15px;
}

.education {
    color: whitesmoke;
    width: 800px;
    margin-top: -65px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

.education_1 {
    color: whitesmoke;
    width: 800px;
    margin-top: -80px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    line-height: 2px;
    border: 1px solid whitesmoke;
}

.skills {
    color: whitesmoke;
    width: 800px;
    margin-top: -80px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

.skills_1 {
    color: whitesmoke;
    width: 800px;
    margin-top: -80px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    line-height: 2px;
    border: 1px solid whitesmoke;
}